doctype html
html(lang="ru")
  head
    title Posts
    link(href='/css/styles.css', rel='stylesheet')
  body
    div(class="nav")
      ul
        li
          a(href="/") Posts 
        li(style="float:right")
          a(href="/logout") Log out
    h1 Posts
    p You have 
      strong #{posts.length}! 
        a(href='/post/new') add post 
    ul(id="posts")
      for post in posts
        li 
          - var post_id = '/post/' + post.id
          h2 title: #{post.title} - user: #{post.username} - 
            a(href=post_id) post content 
